@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: linear-gradient(to left, #055e7c, #d67e79);
    font-family: "Roboto", sans-serif;      
}

.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    color: #fcb678;
    position: relative;
    background: #063544;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 #fcb678, 0 5px 5px 0 #fcb678;
}

.form input {
    font-family: "Roboto", sans-serif;
    background: #f5dfcd;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #685267;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #ef8c86;
    text-decoration: none;
}

